@model JourneySearchViewModel

<input asp-for="StartPointX" id="startPointX" type="hidden" />
<input asp-for="StartPointY" id="startPointY" type="hidden" />
<input asp-for="EndPointX" id="endPointX" type="hidden" />
<input asp-for="EndPointY" id="endPointY" type="hidden" />

<form asp-controller="Journeys" asp-action="Search" class="journeyForm" method="post">
    <div class="row">
        <div class="col-md-4">
            <button type="button" class="btn btn-primary submit" data-toggle="modal" data-target="#exampleModalCenter">Изберете маршрут</button>
        </div>
        <div class="form-group required">
            <input asp-for="SetOffTime" type="text" required id="datetimePicker" class="form-control" />
            <span asp-validation-for="SetOffTime" class="text-danger"></span>
        </div>
        <div class="col-md-4">
            <button type="submit" class="btn btn-primary submit">Търси</button>
        </div>
    </div>
</form>