@model JourneyFormViewModel

@{
    ViewData["Title"] = WebConstants.JourneyUpdatePageTitle;
}

<section class="banner-bottom-agile-w3ls">
    <div class="container">
        <h3 class="tittle-w3ls">@ViewData["Title"]</h3>
        <div class="row inner-sec-w3layouts-agileits">
            <p>Ако пътувате извънградско, въведете имената на желаните градове. Ако пък желаете по-голяма точност, когато примерно пътувате в града, въведете името на града и плъзнете точките до желаните места.</p>
            <div class="col-md-4">
                <form asp-controller="Journeys" asp-action="Update" id="journeyForm" method="post">
                    <hr />
                    <partial name="_JourneyForm" model="Model" />

                    <input type="submit" class="btn btn-default" value="Промени" />
                </form>
            </div>
            <div class="col-md-8 mapper-wrapper">
                <div id='map'></div>
            </div>
        </div>
    </div>
</section>

@section Styles{
    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.53.1/mapbox-gl.css' rel='stylesheet' />
    <link rel='stylesheet' href='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-directions/v4.0.0/mapbox-gl-directions.css' type='text/css' />
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
}

@section Scripts{
    <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.53.1/mapbox-gl.js'></script>
    <script src='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-directions/v4.0.0/mapbox-gl-directions.js'></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    <script type="text/javascript" src="~/js/datetimePickerInit.js"></script>
    <script type="text/javascript" src="~/js/mapBox.js"></script>
    <script>
        $(document).ready(function () {
            parseDatePicker();

            let startPointX = $("#startPointX").val();
            let startPointY = $("#startPointY").val();
            let endPointX = $("#endPointX").val();
            let endPointY = $("#endPointY").val();

            let map = mapOptions.getMap();
            let mapboxDirections = mapOptions.getMapboxDirections();

            map.on('load', function () {
                mapboxDirections.setOrigin([startPointX, startPointY]);
                mapboxDirections.setDestination([endPointX, endPointY]);
            })            

            $("#journeyForm").on('submit', function (e) {
                $('#startPointX').val(mapboxDirections.getOrigin().geometry.coordinates[0])
                $('#startPointY').val(mapboxDirections.getOrigin().geometry.coordinates[1])
                $('#endPointX').val(mapboxDirections.getDestination().geometry.coordinates[0])
                $('#endPointY').val(mapboxDirections.getDestination().geometry.coordinates[1])
            });
        })
    </script>
}

