@model UserFormViewModel
@{
    ViewData["Title"] = WebConstants.UpdateUserPageTitle;
}

<section class="banner-bottom-agile-w3ls">
    <div class="container">
        <h3 class="tittle-w3ls">@ViewData["Title"]</h3>
        <div class="row inner-sec-w3layouts-agileits">
            <div class="col-md-4">

                <p>За да смените Вашата парола, моля въведете нова и я потвърдете. Ако не желаете да я сменяте, въведете сегашната.</p>

                <form asp-controller="Users" asp-action="Update" method="post" enctype="multipart/form-data">
                    <hr />
                    <partial name="../Account/_UserForm" model="Model" />

                    <input type="submit" class="btn btn-" value="Редактирай" />
                </form>
            </div>
        </div>
    </div>
</section>

