@{
    ViewData["Title"] = WebConstants.AboutPageTitle;
}

<section class="banner-bottom-agile-w3ls services">
    <div class="container">
        <h3 class="tittle-w3ls cen text-center">За "ЗакарайМе"</h3>
        <p>
            Целта на „ЗакарайМе“ е да свърже хора, търсещи и предлагащи транспорт из цялата страна за градски и извънградски пътувания. Това допринася неимоверно много за понижаване на замърсяването на въздуха и олекотява натоварения трафик в големите градове и по магистралите. Дизайнът и начинът на работа с приложението са интуитивни, което предразполага всякакъв вид потребители към ползването на услугите на приложението и съответно успешната реализация на целите, стоящи зад идеята на споделенето пътуване.
        </p>

        <p>
            За да се възползва от услугите на приложението даден човек, е нужна само безплатна регистрация на уеб сайта, публикуван в интернет. Клиентът не се обвързва или ангажира с нищо, което прави цялата концепция приятна и леснодостъпна за всеки, който търси или предлага превоз.
        </p>
    </div>
</section>
