
@{
    ViewData["Title"] = WebConstants.ErrorPageTitle;
}

<section class="banner-bottom-agile-w3ls">
    <div class="container">
        <div class="error">
            <h2>Възникна грешка!</h2>
            <h4>Извинете ни за неудобството.</h4>

            <a class="b-home btn" asp-controller="Home" asp-action="Index">Към началото</a>
        </div>
    </div>
</section>

