
@{
    ViewData["Title"] = WebConstants.ErrorPageTitle;
}

<div class="container">
    <div class="info">
        <h2>Възникна грешка!</h2>
        <h4>Извинете ни за неудобството. Проверете нашите социални мрежи за повече информация!</h4>
    </div>
</div>

