@{
    ViewData["Title"] = WebConstants.HomePageTitle;
}

<!--/services-->
<section class="banner-bottom-agile-w3ls areas">
    <div class="container">
        <h3 class="tittle-w3ls cen text-center">За споделеното пътуване</h3>
        <div class="row inner-sec-w3layouts-agileits">
            <div class="col-lg-6 service-in text-center">
                <div class="card">
                    <div class="card-body">
                        <i class="fas fa-user-plus"></i>
                        <h5 class="card-title">Регистрирайте се</h5>
                        <p class="card-text">
                            За да намерите вашата компания за пътуване, е нужно да се регистрирате само с няколко клика.
                        </p>
                        <div class="view my-4">
                            <a asp-controller="Account" asp-action="Register" class="btn btn-primary read-m">Регистрация</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 service-in  text-center">
                <div class="card">
                    <div class="card-body">
                        <i class="fas fa-map-marker-alt"></i>
                        <h5 class="card-title">Намерете хора</h5>
                        <p class="card-text">
                            Целта на споделеното пътуване е да се съберат няколко човека в една кола. Ако Вие притежавате такава, публикувайте вашия маршрут. Ако пък желаете да сте пасажер, потърсете пътувания във вашата посока, като използвате нашата карта.
                        </p>
                        <div class="view my-4">
                            <a href="#home" class="scroll btn btn-primary read-m">Аз съм пасажер</a>
                            <a asp-controller="Journeys" asp-action="Create" class="btn btn-primary read-m">Аз съм шофьор</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 service-in  text-center mt-4">
                <div class="card">
                    <div class="card-body">
                        <i class="fa fa-road"></i>
                        <h5 class="card-title">Пътувайте</h5>
                        <p class="card-text">
                            Свържете се с водача на автомобила за детайли. Ако Вие сте шофьорът, не забравяйте да държите Вашия телефон наблизо. Отидете на уреченото място няколко минути преди часа на Вашата среща. Пътувайте безопасно!
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 service-in text-center mt-4">
                <div class="card">
                    <div class="card-body">
                        <i class="fas fa-leaf"></i>
                        <h5 class="card-title">За природата</h5>
                        <p class="card-text">
                            Автомобилът е един от главните причинители на мръсен въздух в градовете. Помогнете ни да намалим броя на превозните средства, които се движат празни, като пътувате споделено.
                        </p>
                        <div class="fb-share-button" data-href="https://www.zakaraime.com" data-layout="button" data-size="large" data-mobile-iframe="true">
                            <a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fwww.zakaraime.com%2F&amp;src=sdkpreparse" class="btn btn-primary read-m">Сподели</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--//services-->

@section Styles{
    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.53.1/mapbox-gl.css' rel='stylesheet' />
    <link rel='stylesheet' href='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-directions/v4.0.0/mapbox-gl-directions.css' type='text/css' />
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
}

@section Scripts{
    <!--Search engine js-->
    <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.53.1/mapbox-gl.js'></script>
    <script src='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-directions/v4.0.0/mapbox-gl-directions.js'></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    <script type="text/javascript" src="~/js/datetimePickerInit.js"></script>
    <script type="text/javascript" src="~/js/mapBox.js"></script>
    <script>
        $(document).ready(function () {
            parseDatePicker();

            let mapboxDirections = mapOptions.getMapboxDirections();

            $("#journeyForm").on('submit', function (e) {
                $('#startPointX').val(mapboxDirections.getOrigin().geometry.coordinates[0])
                $('#startPointY').val(mapboxDirections.getOrigin().geometry.coordinates[1])
                $('#endPointX').val(mapboxDirections.getDestination().geometry.coordinates[0])
                $('#endPointY').val(mapboxDirections.getDestination().geometry.coordinates[1])
            });
        })
    </script>
}