@{
    ViewData["Title"] = "Privacy Policy";
}

<div class="row">
    <h2>Какво са бисквитки</h2>
    <p>
        Бисквитките (т.нар. <strong>Cookies</strong>) е пакет информация, изпратена от нашия уеб сървър към Вашия
        браузър, която се записва като текстов файл на Вашия компютър или на друго дигитално
        устройство. При последващо посещение на страница от ЗакарайМе тази информация се
        възстановява от браузъра Ви. По този начин бисквитките ще помогнат на сайта да разпознае
        Вашето устройство, а с това и Вашите предпочитания, Вашия потребителски профил и друга
        полезна информация.
    </p>

    <h2>Видове бисквитки, които използва ЗакарайМе</h2>
    <ul>
        <li>
            <strong>"Идентификационни"</strong> бисквитки – Те удостоверяват потребителските акаунти
            и ни дават възможност да различаваме регистрираните от нерегистрираните потребители,
            Вашите от чуждите обяви, правото на достъп до Вашите данни, правата за коментиране и
            други. Тези бисквитки Ви идентифицират, но НЕ съдържат лична информация;
        </li>
        <li>
            <strong>"Дизайн"</strong> бисквитките – Те запомнят Вашите предпочитания за изгледа на сайта;
            за това как да са сортирани обявите и друга информация, която не може еднолично да Ви определи
            като потребител;
        </li>
        <li>
            <strong>"Аналитични"</strong> бисквитки – Те ни позволяват да анализираме трафика в сайта,
            скоростта на зареждане и посещенията на определени страници, търсения и друга статистическа информация;
        </li>
    </ul>

    <h2>Кой друг използва бисквитки в ЗакарайМе</h2>
    <p>
        Ние изпозваме външни услуги, които могат да използват посочените по-горе видове бисквитки. <!--TODO: Add map provider-->
    </p>

    <h2>Как да изключите бисквитките</h2>
    <p>
        Различните браузъри имат различни настройки за достъп на бисквитки. В повечето случаи трябва да се обърнете към помощната информация на използваният от Вас браузър. Тук сме създали списък с линкове към най-често използваните:
        <ul>
            <li><a href="https://support.google.com/chrome/answer/95647?hl=bg">Google Chrome</a></li>
            <li><a href="https://support.mozilla.org/bg/kb/cookies-information-websites-store-on-your-computer">Mozilla Firefox</a></li>
            <li><a href="https://support.apple.com/en-us/HT201265">Apple Safari on iPhone, iPad, and iPod Touch</a></li>
            <li><a href="http://windows.microsoft.com/bg-BG/windows-vista/Block-or-allow-cookies">Windows Internet Explorer 7 и 8.</a></li>
        </ul>
    </p>
    <p>
        <div class="alert alert-warning">
            <strong>ВНИМАНИЕ!</strong> Пълното спиране на бисквитки в сайта ще доведе до невъзможност за създаване и използване на потребителски профил, невъзможност за публикуване на обява, поставяне на коментар, резервиране на превоз, както и да попречи на изпълняването на други основни функции на сайта.
        </div>
    </p>
    <p>
        Изключването на бисквитки от трети страни не би следвало да наруши правилната работа на сайта, но ще затрудни анализа и нашата работа по развитието на ЗакарайМе.
    </p>
</div>
