@{
    ViewData["Title"] = WebConstants.AccessDeniedPageTitle;
}

<section class="banner-bottom-agile-w3ls">
    <div class="container">
        <h2 class="text-danger">@ViewData["Title"]</h2>
        <p class="text-danger">Нямате достъп до тази страница! Върнете се в началото.</p>
    </div>
</section>
