@{
    ViewData["Title"] = WebConstants.AccessDeniedPageTitle;
}

<header>
    <section class="inner-sec-w3layouts-agileits">
        <div class="container">
            <h2 class="text-danger">@ViewData["Title"]</h2>
            <p class="text-danger">Нямате достъп до тази страница! Върнете се в началото.</p>
        </div>
    </section>    
</header>
