@{
    ViewData["Title"] = WebConstants.AccessDeniedPageTitle;
}

<header>
    <h2 class="text-danger">@ViewData["Title"]</h2>
    <p class="text-danger">Нямате достъп до тази страница! Върнете се в началото.</p>
</header>
