@model UserFormViewModel
@{
    ViewData["Title"] = WebConstants.RegisterPageTitle;
}

<h2>@ViewData["Title"]</h2>

<div class="row">
    <div class="col-md-4">
        <form asp-controller="Account" asp-action="Register" method="post" enctype="multipart/form-data">
            <hr />
            <partial name="_UserForm" model="Model" />
        </form>
    </div>
</div>

