@model CarFormViewModel

<div class="form-group required">
    <label asp-for="Colour" class="control-label"></label>
    <input asp-for="Colour" type="text" minlength="3" maxlength="100" required class="form-control" />
    <span asp-validation-for="Colour" class="text-danger"></span>
</div>

<div class="form-group required">
    <label class="control-label">Марка</label>
    <select required class="form-control" id="makes">
        <option selected></option>
        @foreach (Make make in ViewData["Makes"] as IEnumerable<Make>)
        {
            <option id="@(make.Id)">@(make.Title)</option>
        }
    </select>
</div>

<div class="form-group required">
    <label asp-for="ModelId" class="control-label"></label>
    <select asp-for="ModelId" required class="form-control" id="models"></select>
</div>