@model CarFormViewModel
@{
    ViewData["Title"] = WebConstants.CarCreatePageTitle;
}

<section class="banner-bottom-agile-w3ls">
    <div class="container">
        <h3 class="tittle-w3ls">@ViewData["Title"]</h3>
        <div class="row inner-sec-w3layouts-agileits">
            <div class="col-md-4">
                <form asp-controller="Cars" asp-action="GetEntityAsync" method="post" enctype="multipart/form-data">
                    <hr />
                    <partial name="_CarForm" model="Model" />

                    <div class="form-group required">
                        <label asp-for="ImageFile" class="control-label"></label>
                        <input asp-for="ImageFile" required class="form-control" />
                        <span asp-validation-for="ImageFile" class="text-danger"></span>
                    </div>

                    <input type="submit" class="btn btn-default" value="Добави" />
                </form>
            </div>
        </div>
    </div>
</section>
